<div class="footer">
  <ul class="list">
    <li class="item">
      <%= link_to root_path, class: "link" do%>
        <i class="fa-solid fa-gauge"></i>
      <% end %>
    </li>
    <li class="item">
      <%= link_to expenses_path, class: "link" do%>
        <i class="fa-solid fa-cart-shopping"></i>
      <% end %>
    </li>
    <li class="item add">
      <%= render "/shared/floating_button" %>
    </li>
    <li class="item">
      <%= link_to incomes_path, class: "link" do%>
        <i class="fa-solid fa-hand-holding-dollar"></i>
      <% end %>
    </li>
    <li class="item">
      <%= link_to reports_path, class: "link" do%>
        <i class="fa-regular fa-file-lines"></i>      <% end %>
    </li>
  </ul>
</div>
